{% extends 'base.html' %}
{% block main %}
        <h1>My Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for cat3 in cat2 %}
                <tr>
                    <td>{{ cat3.name }}</td>
                    <td>{{ cat3.Receipt|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>   
{% endblock main %}
