<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
    </head>
<body>
<header>
    <nav>
        <u1>
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
                <li><a href="{% url 'category_list' %}">My Categories</a></li>
                <li><a href="{% url 'account_list' %}">My Account</a></li>
                <li><a href="{% url 'create_category' %}">Create Category</a></li>
            {% else %}
                <li><a href="{% url 'signup' %}">Signup</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </u1>
    </nav>
</header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
</body>
</html>
