{% extends 'base.html' %}
{% block main %}
        <h1>My Account</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for acc3 in acc2 %}
                <tr>
                    <td>{{ acc3.name }}</td>
                    <td>{{ acc3.number }} </td>
                    <td>{{ acc3.Receipt|length }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock main %}
