<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
    </head>
<body>
    <main>
        <div>
            <h1>Create Account</h1>
            <form method="post">
                {% csrf_token %}
                {{ ca4.as_p }}
                <button>Create</button>
            </form>
        </div>
    </main>
</body>
</html>
