{% extends 'base.html' %}

{% block main %}
        <div>
            <h1>Signup</h1>
            <form method="post">
            {% csrf_token %}
            {{ form3.as_p }}
            <button>Signup</button>
            </form>
        </div>
{% endblock main %}
