{% extends 'base.html' %}
{% block main %}
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipts4 in receipts2 %}
                <tr>
                    <td>{{ receipts4.vendor }}</td>
                    <td>{{ receipts4.total }}</td>
                    <td>{{ receipts4.tax }}</td>
                    <td>{{ receipts4.date|date:"m/d/y" }}</td>
                    <td>{{ receipts4.category.name }}</td>
                    <td>{{ receipts4.account.name }}</td>
                </tr>
                {% endfor %}    
            </tbody>
        </table>
{% endblock main %}
